.formContainer {
    display: grid;
    gap: 2.5em;
}

.formGroup {
    position: relative;
    color: rgb(209 213 219);
    font-family: 'Nunito', sans-serif;
}

.formInput {
    width: 100%;
    background: none;
    color: rgb(209 213 219);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(209 213 219);
    font-family: 'Nunito', sans-serif;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) +.formLabel {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #db2777;
}

.formLabel {
    color: rgb(209 213 219);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.spanLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #db2777;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.formInput:focus ~ .spanLabel,
.formInput:not(:placeholder-shown) ~ .spanLabel {
    transform: scale(1);
}